.items-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 30%;
}

.items-list {
  grid-area: list;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  list-style-type: none;
}

.sort-wrapper {
  display: flex;
  gap: 2rem;
  padding: 1rem;
}

.select {
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 1rem;
}

.select:focus {
  outline: 2px solid rgb(236, 122, 77);
}

.clear-btn {
  font-size: 1.8rem;
  background-color: rgb(236, 122, 77);
}
